<input type='hidden' id='timeline' value='{{{timeline}}}'/>

<div id="timer"/>
<div id="mapArea">
    <div id="blueTeam">
        <ul class="championlist">
            {{#participants}}
                {{#isBlueTeam teamId}}
                    <li><img class="championImage" src="{{championImage}}"
                             title="{{championName}}"/></li>
                {{/isBlueTeam}}
            {{/participants}}
        </ul>
    </div>
    <div id="map"></div>
    <div id="purpleTeam">
        <ul class="championlist">
            {{#participants}}
                {{#isPurpleTeam teamId}}
                    <li><img class="championImage" src="{{championImage}}"
                             title="{{championName}}"/></li>
                {{/isPurpleTeam}}
            {{/participants}}
        </ul>
    </div>
</div>
<br/>
<div id="guessArea">
    <a id="blueButton" class="blue">Blue</a>
    <a id="purpleButton" class="purple">Purple</a>
    <br/>
    <span id="prediction">We predict {{prediction}} will win the match.</span>
    <br/>
    <span id="actual">{{winner}} actually won the match.</span>
</div>