<script lang="text/javascript">
    timeline = {{{ timeline }}};
    matchWinner = "{{ winner }}";
    prediction = "{{ prediction }}";
</script>
<div id="timer">00:00</div>
<div id="mapArea">
    <div id="blueTeam">
        <ul class="championlist">
            {{#participants}}
                {{#isBlueTeam teamId}}
                    <li>
                        <div class="imageDiv">
                            <img class="championImage" src="{{championImage}}"
                                 title="{{championName}}"/>
                            <img class="tierImage leftTierImage" src="images/{{tierImage}}"
                                 title="{{tierName}}">
                        </div>
                    </li>
                {{/isBlueTeam}}
            {{/participants}}
        </ul>
    </div>
    <div id="map"></div>
    <div id="purpleTeam">
        <ul class="championlist">
            {{#participants}}
                {{#isPurpleTeam teamId}}
                    <li>
                        <div class="imageDiv">
                            <img class="championImage" src="{{championImage}}"
                                 title="{{championName}}"/>
                            <img class="tierImage rightTierImage" src="images/{{tierImage}}"
                                 title="{{tierName}}">
                        </div>
                    </li>
                {{/isPurpleTeam}}
            {{/participants}}
        </ul>
    </div>
</div>
<br/>
<div id="guessArea">
    <a id="blueButton" class="blue">Blue</a>
    <div id="predictionArea" title="We're not cheating we promise!">
        <div id="purplePrediction" class="prediction hidden">
            We predict purple will win
            <!--<image class="arrow" src="images/arrow_right.png"></image>-->
        </div>
        <div id="bluePrediction" class="prediction hidden">
            <!--<image class="arrow" src="images/arrow_left.png"></image>-->
            We predict blue will win</div>
    </div>
    <a id="purpleButton" class="purple">Purple</a>
    <div id="outcomeContainer">
        <span id="outcome">{{ winner }} won the match!</span>
        <a id="playAgainButton">Play Again?</a>
    </div>
</div>